/* Welcome to our studio font */
* {
  box-sizing: border-box;
  max-width: 100%;
}
/* Remove Garish Default Link Stylings */
a, a:link, a:visited, a:active, a:hover {
  text-decoration:none;
  color:currentColor;
}

h2, h5 {
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h3, h4, .button, input, textarea, .bottomLinks, .copyright, .menuNavs {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
}


@media (min-width:1400px) {
  #logoLink{
    margin-right: 400px;
  }
  .serviceBox {
    width:400px;
  }
  .serviceBox {
    width:300px;
  }
  .hamburger {
    display:none;
  }
}

@media(max-width:1400px) and (min-width:900px) {
  .serviceBox {
    width:300px;
  }
  .navLinksBox {
    background-color:#212429;
    }
  .hamburger {
    display:none;
  }
}

@media(max-width:900px) and (min-width:0px) {
  .serviceBox{
    width:250px;
  }
  .navLinks{
    display:none;
  }
  .navLinksBox {
  background-color:#212429;
  }
  #welcomeHeader{
    font-size: 16pt;
  }
  #bigHeader {
    font-size:40pt;
  }
  .hamburger {
    margin-right:10px;
  }
}

.italic {
  font-style:italic;
}
.center {
  text-align:center;
}
.right {
  text-align:right; 
}
.left {
  text-align:left;
}
.end {
  align-items: flex-end;
}

h1 {
  font-size: 50pt;
  color:white;
}

h2 {
  font-size: 20pt;
  color:white;
  font-weight: 400;
}

h3 {
  font-size: 30pt;
  margin-bottom:20px;
}

h4 {
  font-size: 18pt;
  margin-bottom: 20px;
}

h5 {
  color:#6C757D;
  font-size: 13pt;
  line-height: 30px;
  font-weight: 200;
  margin-bottom: 50px;
}

.button {
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 50px;
  background-color: #FED136;
  color:white;
  border-radius: 2%;
  border:none;
  font-size:11pt;
  margin-top: 30px;
  transition: 0.3s;
}

.button:hover {
  background-color: #fcf0c5;
}

header {
  background-image: url('./background_images/header-bg.jpg');
  background-position: 1% 50%;
  height: 750px;
  padding:1px;
}

.hamburger {
  background-color: #fcc500;
  width:100px;
  height:40px;
  border-radius: 7px;
  margin-left:30vw;
  z-index:4;
  transition: 0.5s;
}

.hamDiv {
  position: relative;
  left: 70px;
  bottom: 22px;
  background-color: white;
  height:3px;
  width:17px;
  margin: 2px;
}

#menTxt {
  position: relative;
  font-size: 11pt;
  right:14px;
  top:12px;
}

.navLinksBox {
  position: fixed;
  top: 0px;
  display:flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  color:white;
  width: 100%;
  z-index:3;
}

.menuContent {
  width: 100%;
  display:flex;
  flex-direction: column; 
  justify-content: space-evenly;
  align-items:flex-start;
  position:fixed;
  top: 75px;
  height: 300px;
  background-color:#212529;
  z-index: 2;
  padding-left: 30px;
  color:white; 
  transition: 1s;
  transform: translate(0px, -400px);
}

.visibleMenu {
  transition: 1s; 
  transform: translate(0px, 0px);
}

.menuMoveWithHeader {
  transition: 0.5s;
  transform: translate(0px,-30px);
}

.buttonMoveWithHeader {
  transition: 0.5s; 
  transform: translate(0px,10px);
}

.navBarStart {
  transition: 0.3s; 
  transform: translate(0%, 0%);
}
.navBarFinish {
  transition: 0.5s;
  background-color:#212429;
  transform: translate(0%, -30%);
}

.logoStart {
  transform:scale(1,1) translate(0%, 0%);
  transition: 0.3s;
}

.logoFinish{
  transform:scale(0.8,0.8) translate(0%,50%);
  background-color:#212429;
  transition: 0.5s;
}

#navBarLogo{
  margin:20px;
  height:35px;
}

nav{
  display:flex;
  justify-content: end;
}
.navLinks {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12pt;
}

.navLinksStart {
  transition: 0.3s;
  transform: translate(0%,0%);
}
.navLinksFinish {
  transition: 0.5s;
  transform: translate(0%,50%);
}

.niceMeet {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  height: 275px;
  margin-top: 250px;
}

#portfolio, #amzTeam {
  background-color:#F8F9FA;
}

#services,#portfolio,#about,#amzTeam {
  display: flex;
  justify-items: center; 
  align-items: center;
  flex-direction: column; 
  padding-top: 50px;
  padding-bottom: 100px;
}
#services {
  text-align:center;
}
.serviceSVG{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:#FED136;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  margin-bottom: 20px;
}
.serviceBox {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.servicesContainer {
  display: flex;
  flex-wrap:wrap;
  align-items: center; 
  justify-content: center;
}

#eComm,#respDesign,#webSec {
  fill:white;
  height: 75px;
  object-fit:cover;
}
.prtPicsContainer{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  width: 1110px;
}
.portPics {
  position:relative;
  right:10px;
  bottom:5px;
  width: 350px;
  max-height: 400px;
  background-color: white;
  object-fit:cover;
  text-align: center;
  margin:10px;
}

.plusback {
  position:relative;
  right: 10px;
  bottom:406px;
  margin:10px;
  width:350px;
  height:265px;
  background-color: #FED136;
  transition:0.3s; 
  opacity:0%;
}

.plusback:hover {
  transition: 0.3s;
  opacity: 80%;
}

.plusHover{
  position:relative;
  top:100px;
  fill:white; 
  height: 50px;
  width: auto;
  background-color: #FED136;
}

.timeline {
  width:900px;
}
.aboutContainer {
  display:flex;
}
.aboutBox {
  height: auto;
  width: 350px;
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
}
.line{
  height:160px;
  width:2px;
  background-color: #E9ECEF;
  margin-left:100px;
  margin-right:100px;
}
.aboutPicsBox{
  width: 550px;
  display:inline-flex;
  flex-direction:column; 
  justify-content: center;
}
.aboutPics {
  margin-left:20px;
  margin-right: 20px;
  border-radius: 50%;
  width: 150px;
  height:auto;
  border: solid #E9ECEF 7px; 
}

#storyCircle {
  display:flex;
  align-items: center; 
  background-color: #FED136;
  border: solid #E9ECEF 7px;
  border-radius:50%;
  height:150px;
  width: 150px;
  color:white;
  font-size:16pt;
}
.storyBox {
  display: flex; 
  justify-content: center;
}

#amzTeam{
  text-align:center; 
}

.teamBox{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.teamMemberBox{
  display:flex;
  flex-direction: column; 
  justify-content:center;
  align-items:center;
  padding:75px;
}


.socialBox {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px; 
  border-radius: 50%;
  background-color: #23272B;
}

.linkedin, .twitter, .facebook{
  fill:white; 
  height: 15px;
  width: auto;
}

.socialContainer {
  width:150px;
  display:flex;
  justify-content:space-between; 
}
.teamPic {
  width: 200px;
  border-radius: 50%;
  border:solid #DFE0E1 10px;
} 

.name {
  margin-top:20px;
}

.title {
margin-bottom: 20px;
}

.teamDesc{
  width:800px;
  margin-bottom:0px;
}

.logos {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  padding:50px;
}

.logoPics {
  margin-left:40px;
  margin-right:40px;
  
}

.contact {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:auto;
  background-color: #212529;
  background-image: url("./background_images/map-image.png");
  background-position:center;
  padding:50px;
}

form {
  display:flex;
  justify-content:center;
  align-items:center;
}

.contactTitle {
  color:white;
}

.contactDescription {
  text-align: center;
}

.inputs {
  height:250px;
  display:inline-flex;
  flex-direction: column; 
  justify-content: space-between;

}

input {
  background-color: white;
  margin-right:10px;
  height: 60px;
  width: 40vw;
  text-align: left;
  padding-left: 20px;
  border:none;
  border-radius:3px;
}

textarea{
  display:inline-block;
  background-color: white;
  width: 500px;
  height:250px;
  text-align: left;
  padding:20px;
  border:none;
  border-radius: 3px;
}

::placeholder{
  color:#CED4DA;
}

footer {
  display:flex;
  justify-content:center;
  align-items:center;
  padding:25px;
}
.footerContainer {
  display:flex;
  justify-content:center; 
  align-items: center;
  width: 1100px;
}

.copyright{
  text-align:left;
  width:462.5px;
  color: #212529;

}
.bottomLinks {
  color:#FED136;
  display:flex;
  justify-content: flex-end;
  width:462.5px;
}

.bottomLink {
  margin-left:20px;
}
