/* Welcome to our studio font */
h2 {
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Font Family for buttons and large header*/
h1 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

 .linkedin, .twitter, .facebook, .plusHover{
  fill:white; 
  height: 15px;
  width: auto;
}

header {
  background-image: url('./media/header-bg.jpg');
  object-fit: cover;
  width:100vw;
  height: 700px;
}

.socialBox {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px; 
  border-radius: 50%;
  background-color: #23272B;
}

.aboutPics {
  border-radius: 50%;
  width: 150px;
}

.portPics {
  width: 350px;
  height: auto; 
}

.contact {
  background-color: #212529;
  background-image: url("./media/map-image.png");
  width:100vw;
  object-fit:cover;
  height: auto;
}

.portfolio .amzTeam {
  background-color: #F8F9FA;
}

.services{
  display:flex;
  align-items: center;
  justify-content: center;
  margin:50px;
  background-color:#FED136;
  border-radius: 50%;
  width: 125px;
  height: 125px;
}
#eComm,#respDesign,#webSec {
  fill:white;
  height: 75px;
  width: auto;
  object-fit:cover;

}