/* Welcome to our studio font */
h2 {
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Font Family for buttons and large header*/
h1 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.eComm, .linkedin, .twitter, .facebook, .plusHover, .respDesign, .webSec {
  fill:white; 
  height: 15px;
  width: auto;
}

.socialBox {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px; 
  border-radius: 50%;
  background-color: #23272B;
}

.aboutPics {
  border-radius: 50%;
  width: 150px;
}

.portPics {
  width: 350px;
  height: auto; 
}