/* Welcome to our studio font */
* {
  background-color: transparent;
  margin:0px;
  max-width:100%;
}
/* Remove Garish Default Link Stylings */
a, a:link, a:visited, a:active, a:hover {
  text-decoration:none;
  color:currentColor;
}

h2, h5 {
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h3, h4, .button, input, textarea, .bottomLinks, .copyright {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
}

.italic {
  font-style:italic;
}
.center {
  text-align:center;
}
.right {
  text-align:right; 
}
.left {
  text-align:left;
}
.end {
  align-items: flex-end;
}

h1 {
  font-size: 50pt;
  color:white;
  margin: 0px;
}

h2 {
  font-size: 20pt;
  color:white;
  font-weight: 400;
  margin: 0px;
}

h3 {
  font-size: 30pt;
  margin-bottom:20px;
}

h4 {
  font-size: 18pt;
  margin-bottom: 20px;
  margin-top: 0px;
}

h5 {
  color:#6C757D;
  font-size: 13pt;
  line-height: 30px;
  font-weight: 200;
  margin-bottom: 50px;
  margin-top: 0px;
}

.button {
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 50px;
  background-color: #FED136;
  color:white;
  border-radius: 2%;
  border:none;
  font-size:11pt;
  margin-top: 30px
}

header {
  background-image: url('./media/header-bg.jpg');
  background-position: 1% 50%;
  height: 750px;
  padding: 10px;
  object-fit: cover;
}

.navLinksBox {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color:white;
  margin:0px;
}
#navBarLogo {
  width: 200px;
  height: auto;
}
#logoLink {
  width: 600px;
}
nav{
  display:flex;
  justify-content: end;
}
.navLinks {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14pt;
}

.niceMeet {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  height: 275px;
  margin-top: 130px;
}

#portfolio, #amzTeam {
  background-color:#F8F9FA;
}

#services,#portfolio,#about,#amzTeam {
  display: flex;
  justify-items: center; 
  align-items: center;
  flex-direction: column; 
  padding-top: 50px;
  padding-bottom: 100px;
}
#services {
  text-align:center;
}
.serviceSVG{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:#FED136;
  border-radius: 50%;
  width: 125px;
  height: 125px;
}
.serviceBox {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
  text-align:center;
  padding: 0px;
}
.servicesContainer {
  display: flex;
  align-items: center; 
  justify-content: center;
}
#eComm,#respDesign,#webSec {
  fill:white;
  height: 75px;
  object-fit:cover;
  margin: 0px;
}
.prtPicsContainer{
  display: flex;
  flex-wrap:wrap;
  width: 1110px;
}
.portPics {
  width: 350px;
  height: auto; 
  background-color: white;
  margin: 10px;
  object-fit:cover;
  text-align: center;
}

.plusHover{
  fill:white; 
  height: 15px;
  width: auto;
}

.timeline {
  width:900px;
}
.aboutContainer {
  display:flex;
}
.aboutBox {
  height: auto;
  width: 350px;
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
}
.line{
  height:160px;
  width:2px;
  background-color: #E9ECEF;
  margin-left:100px;
  margin-right:100px;
}
.aboutPicsBox{
  width: 550px;
  display:inline-flex;
  flex-direction:column; 
  justify-content: center;
}
.aboutPics {
  margin-left:20px;
  margin-right: 20px;
  border-radius: 50%;
  width: 150px;
  height:auto;
  border: solid #E9ECEF 7px; 
}

#storyCircle {
  display:flex;
  align-items: center; 
  background-color: #FED136;
  border: solid #E9ECEF 7px;
  border-radius:50%;
  height:150px;
  width: 150px;
  color:white;
  font-size:16pt;
}
.storyBox {
  display: flex; 
  justify-content: center;
}

#amzTeam{
  text-align:center; 
}

.teamBox{
  display:flex;
  justify-content: center;
  align-items: center;
}

.teamMemberBox{
  display:flex;
  flex-direction: column; 
  justify-content:center;
  align-items:center;
  padding:75px;
}


.socialBox {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px; 
  border-radius: 50%;
  background-color: #23272B;
}

.linkedin, .twitter, .facebook{
  fill:white; 
  height: 15px;
  width: auto;
}

.socialContainer {
  width:150px;
  display:flex;
  justify-content:space-between; 
}
.teamPic {
  width: 200px;
  border-radius: 50%;
  border:solid #DFE0E1 10px;
} 

.name {
  margin-top:20px;
  margin-bottom:0px;
}

.title {
margin-top: 0px;
margin-bottom: 20px;
}

.teamDesc{
  width:800px;
  margin-bottom:0px;
}

.logos {
  display:flex;
  justify-content: center;
  align-items: center;
  padding:50px;
}

.logoPics {
  margin-left:40px;
  margin-right:40px;
}

.contact {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:auto;
  background-color: #212529;
  background-image: url("./media/map-image.png");
  background-position:center;
  padding:50px;
}
form {
  display:flex;
  justify-content:center;
  align-items:center;
}
.contactTitle {
  color:white;
}
.contactDescription {
  text-align: center;
}
.inputs {
  height:250px;
  display:inline-flex;
  flex-direction: column; 
  justify-content: space-between;

}
input {
  background-color: white;
  margin-right:10px;
  height: 60px;
  width: 500px;
  text-align: left;
  padding-left: 20px;
  border:none;
  border-radius:3px;
}

textarea{
  display:inline-block;
  background-color: white;
  width: 500px;
  height:210px;
  margin:0px;
  text-align: left;
  padding:20px;
  border:none;
  border-radius: 3px;
}

::placeholder{
  color:#CED4DA;
}

footer {
  display:flex;
  justify-content:center;
  align-items:center;
  padding:25px;
}
.footerContainer {
  display:flex;
  justify-content:center; 
  align-items: center;
  width: 1100px;
}

.socialContainer2 {
  display:flex;
  justify-content: space-between;
  align-content:center;
  width:175px;
  margin-right: 100px;
  margin-left: 100px;
}

.copyright{
  text-align:left;
  width:462.5px;
  color: #212529;

}
.bottomLinks {
  color:#FED136;
  display:flex;
  justify-content: flex-end;
  width:462.5px;
}

.bottomLink {
  margin-left:20px;
}


